/** Body background */
body {
  background: #303030;
}
/** Cards */
.cardDecor {
  background: #424242;
  border-radius: 0.25rem;
  border: none;
}
/** Sidebars and Navbars */
.sidebar {
  background: #212121;
}
.navbar {
  background: #212121;
}
.navbar-brand {
  background: none;
}
/* Colors */
.sidebar .nav-link.active {
  color: #4CAF50;
}
a {
  color: #4CAF50;
}

.text-danger {
  color: #4CAF50 !important;
}
