:root {
    --bg: #18191B;
    --secondary-bg: #232426;
}

/** Body background */
body {
    background: #18191B;
}

/** Cards */
.cardDecor {
    background: #232426;
    border-radius: 0.25rem !important;
    border: none;
    margin-top: 10px;
    border-bottom: none !important;
}

.widget {
    background: #232426;
    border-radius: 0.25rem;
}

.cardContainer {
    margin: 20px;
}

/** Sidebars and Navbars */
.sidebar {
    background: #18191B;
    box-shadow: none;
}

.navbar {
    background: #232426;
}

.widgetBar {
    border-left: none;
}

.postCounters {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid rgba(0,0,0,0.2);
}

.widgetText {
    color: white !important;
}

.feather {
    color: white !important;
}

.nav {
    background: transparent;
}

.navbar-brand {
    background: none;
    color: white !important;
}

#noscroll {
    padding-top: 0;
}

/* Colors */
.sidebar .nav-link.active {
    color: white !important;
    opacity: 1;
}

a {
    color: #5181b8;
}

/** Text (only white) **/
.sidebar .nav-link {
    color: white;
    opacity: 0.7;
}

.spinner {
    border-right-color: transparent;
}

.text-danger {
    color: #5181b8 !important;
}

.cardForceNoPadding {
  margin-top: 0 !important;
  border-radius: 0 !important;
}

.writeBoxButton {
    background: #1b1b1b !important;
    color: white !important;
}

.writeBoxText {
    background: #1b1b1b !important;
}

.btn {
    background: #1b1b1b;
    color: white !important;
}