/** Body background */
body {
  background: #002b36;
}
/** Cards */
.cardDecor {
  background: #073642;
  border-radius: 0.25rem;
  border: none;
}
/** Sidebars and Navbars */
.sidebar {
  background: #073642;
}
.navbar {
  background: #073642;
}
.navbar-brand {
  background: none;
}
/* Colors */
.sidebar .nav-link.active {
  color: #2aa198;
}
a {
  color: #2aa198;
}

.text-danger {
  color: #2aa198 !important;
}

.messageOut {
  background: rgba(42, 161, 152, 0.2);
}

.sidebar .nav-link {
  color: #839496;
}

.sidebar .nav-link .feather {
  color: #839496;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #839496;
}

.navbar-dark .navbar-brand {
  color: #839496;
}

.card-text {
  color: #839496;
}

.logoutButton {
  color: #839496 !important;
}

.writeBoxText {
  background-color: #002b36 !important;
}

.writeBoxText:focus {
  color: white !important;
}

.writeBoxButton {
  background: #002b36;
}

.spinner {
  border-right-color: transparent;
}

::placeholder {
    color: #839496 !important;
    opacity: 1;
}