/** Body background */
body {
  background: #FAFAFA;
}
/** Cards */
.cardDecor {
  background: #FFFFFF;
  border-radius: 0.25rem;
  border: none;
}
/** Sidebars and Navbars */
.sidebar {
  background: #F5F5F5;
}
.navbar {
  background: #F5F5F5;
}
.navbar-brand {
  background: none;
  color: black;
}
/* Colors */
.sidebar .nav-link.active {
  color: #4CAF50;
}

a {
    color: #4CAF50;
}
/** Text (only white) **/
.sidebar .nav-link {
  color: black;
}

.sidebar .nav-link .feather {
    color: black;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: black;
}

.navbar-dark .navbar-brand {
    color: black;
}

.semi-transparent {
    color: black;
}

.card-text {
    color: black;
}

.spinner {
    border: 2px solid #000;
    border-right-color: transparent;
}
.text-danger {
    color: #4CAF50 !important;
}
.messageOut {
  background: rgba(76, 175, 80, 0.2);
}
