/** Body background */
body {
  background: #FAFAFA;
}
/** Cards */
.cardDecor {
  background: #FFFFFF;
  border-radius: 0.25rem;
  border: none;
}
/** Sidebars and Navbars */
.sidebar {
  background: #F5F5F5;
}
.navbar {
  background: #F5F5F5;
}
.navbar-brand {
  background: none;
  color: white;
}
/* Colors */
.sidebar .nav-link.active {
  color: #4CAF50;
}
