.sidebar {
  background: transparent !important;
}

nav {
  background: rgba(0,0,0,0.3) !important;
}

.nav {
    background: rgba(0,0,0,0.3);
}

.widget {
  background: rgba(0,0,0,0.3);
  padding: 10px;
}

.cardDecor {
  background: rgba(0,0,0,0.5);
}

body {
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}
