.sidebar {
  background: rgba(0,0,0,0.5);
}

nav {
  background: rgba(0,0,0,0.5) !important;
}

.cardDecor, .msgDialog {
  background: rgba(0,0,0,0.5);
}

body {
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}

.btn {
    background: rgba(0,0,0,0.5);
}

.writeBoxText {
    background: rgba(0,0,0,0.5) !important;
}

.writeBoxButton {
    background: rgba(0,0,0,0.5) !important;
}
