html {
  background: black;
}

.nav {
  backdrop-filter: blur(10px);
}

.navbar {
    backdrop-filter: blur(10px);
}

.widget {
    backdrop-filter: blur(10px);
}

.cardDecor {
  backdrop-filter: blur(6px);
}

.btn {
    background: rgba(0,0,0,0.5);
}

.writeBoxText {
    background: rgba(0,0,0,0.5) !important;
}

.writeBoxButton {
    background: rgba(0,0,0,0.5) !important;
}
