@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500&subset=cyrillic');

* {
    font-family: 'IBM Plex Sans', sans-serif !important;
}

.padding {
    margin-bottom: 1rem !important;
}

.noPadding {
    margin-bottom: 0 !important;
}

.semi-transparent {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.semi-transparent {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.comment {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.semi-transparent:focus {
    background-color: rgba(0, 0, 0, 0.7);
}

.semi-transparent-white {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.semi-transparent-white:focus {
    background-color: rgba(255, 255, 255, 0.5);
}

.text-fix {
    text-align: left;
}

.cardDecor {
    margin-bottom: 10px;
    width: 100%;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
}

.spinMsg {
    margin-top: 15px;
}

.friendFloat {
    float: left;
    height: 32px;
    width: 32px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.card-text {
    margin-bottom: 0px;
}

.smallText {
    font-size: 10px;
}

.noMarginAndPadding {
    padding: 0px !important;
}

.message {
    border-radius: 0px !important;
    margin-bottom: 0px !important;
    animation: fadein 0.5s;
}

.messageBorder {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
}

.messageOut {
    border-radius: 0px !important;
    margin-bottom: 0px !important;
}

.messagePadding {
    padding: 0.8rem !important;
}

.dialogAttachPic {
    padding-top: 10px;
    height: 128px;
    width: 128px;
}

.smallTitle {
    font-size: 1rem !important;
    font-weight: 500;
}

@keyframes fadein {
    from {
        margin-bottom: -10px;
    }
    to {
        margin-bottom: 0;
    }
}

p {
    margin-bottom: 0;
}

.messageOut {
    background: rgba(76, 175, 80, 0.1);
}

@media (min-width: 768px) {
    .col-md-9 {
        flex: 0 0 85%;
    }
}

.writeBoxText {
    color: white !important;
}