.padding {
    margin-bottom: 1rem!important;
}

.semi-transparent {
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.semi-transparent {
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.comment {
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.semi-transparent:focus {
    background-color: rgba(0,0,0,0.7);
}

.semi-transparent-white {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.semi-transparent-white:focus {
    background-color: rgba(255,255,255,0.5);
}

.text-fix {
    text-align: left;
}

.cardDecor {
    margin-bottom: 10px;
    width: 100%;
}

.spinner {
    margin: 20px;
    height: 28px;
    width: 28px;
    animation: rotate 0.8s infinite linear;
    border: 2px solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
}

@keyframes rotate {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
}