body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    /*position: fixed;*/
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 10px 10px 0px 10px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: hidden;
    /* overflow-y: auto; Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: white;
}

.sidebar .nav-link {
    color: white;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.nav {
    background: rgba(0,0,0,0.2);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.vk5-largeText {
    font-weight: 100;
    font-size: 24px;
}

.padding {
    margin-bottom: 1rem !important;
}

.noPadding {
    margin-bottom: 0 !important;
}

.comment {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.semi-transparent {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.semi-transparent:focus {
    background-color: rgba(0, 0, 0, 0.7);
}

.semi-transparent-white {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.semi-transparent-white:focus {
    background-color: rgba(255, 255, 255, 0.5);
}

.text-fix {
    text-align: left;
}

.cardDecor {
    margin-bottom: 10px;
    width: 100%;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
}

.spinMsg {
    margin-top: 15px;
}

.friendFloat {
    float: left;
    height: 32px;
    width: 32px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.card-text {
    margin-bottom: 0px;
}

.smallText {
    font-size: 10px;
}

.noMarginAndPadding {
    padding: 0px !important;
}

.message {
    border-radius: 0px !important;
    margin-bottom: 0px !important;
}

.messageBorder {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
}

.messageOut {
    border-radius: 0px !important;
    margin-bottom: 0px !important;
}

.messagePadding {
    padding: 0.8rem !important;
}

.dialogAttachPic {
    padding-top: 10px;
    height: 128px;
    width: 128px;
}

.smallTitle {
    font-size: 1rem !important;
    font-weight: 500;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

p {
    margin-bottom: 0;
}

.messageOut {
    background: rgba(76, 175, 80, 0.1);
}

@media (min-width: 768px) {
    .col-md-9 {
        flex: 0 0 85%;
    }
}

.writeBoxText {
    color: white !important;
}

.btn-zone {
    float: right;
}

.btn-transparent {
    color: white;
    background-color: rgba(0,0,0,0.2);
    border-color: rgba(0,0,0,0.2);
}

.dropdown-item.active, .dropdown-item:active {
    background-color: rgba(0,0,0,0.1);
}

.dropdown-item:hover {
    background-color: rgba(0,0,0,0.1);
}

.mobileNav {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.dropdown-item {
    padding: 0.5rem !important;
}

.navbar-brand {
    box-shadow: none;
    padding-bottom: 0;
    padding-top: 0;
    background: transparent;
}

.paddingLeft {
    padding-left: 30px;
}

.paddingRight {
    padding-right: 30px;
}

.category {
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
    padding-left: 0.8rem !important;
}

.pointer {
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

/* Widgets */
.widget {
    margin-bottom: 10px;
}

.widgetBar {
    border-left: 1px solid rgba(0,0,0,0.1);
    box-shadow: none;
}

@media screen and (min-width: 10px) {
    .navbar-brand {
        padding-top: .75rem;
    }
}

@media screen and (min-width: 575px) {
    .navbar-brand {
        padding-top: 0;
    }
}

.navColumn {
    margin-top: 10px;
}

.cardForceNoPadding {
  margin-top: 0 !important;
  border-radius: 0 !important;
}

.card {
  border-radius: 0rem !important;
}

.audio-player {
    width: 200px;
}
.player-controls {
    align-items: left;
    justify-content: left;
}

.audioText {
    text-align: left;
}

@media (max-width: 768px) {
    .cardContainer {
        margin: 0px !important;
    }
    .card {
      margin-top: 2px !important;
    }
}

.writeBoxButton {
    left: -1px;
    position: relative;
    border: none;
    border-radius: 0 5px 5px 0;
    line-height: 1.7;
}

.widgetTitle a {
    padding: 0;
}

.widgetText {
    padding: 0;
}

.vcat-deeplink:hover {
    text-decoration: none;
}

.bg-blur {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    filter: blur(5px);
    width: 100%;
    height: 100%;
}

.card-body {
    z-index: 99;
}

.btn-bg {
    background: rgba(0,0,0,0.2) !important;
}

.btn-bg:hover {
    background: rgba(0,0,0,0.5) !important;
}

.progress {
    height: 1.5rem;
    background-color: rgba(0, 0, 0, .1);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


.progress span {
    /*text-align: center;
    width: 100%;*/
    line-height: 2.2;
    position: absolute;
}

.poll-answer-right {
    right: 20px;
}

.poll-answer-left {
    left: 20px;
}

.poll-answer-left svg {
    top: 2px;
    position: relative;
}

.progress-bar {
    background-color: rgba(0, 0, 0, .25);
}

.progress-bar.poll-user {
    background-color: rgba(0, 0, 0, .5);
}
