
p {
    margin-bottom: 10px !important;
}

.disclaimer {
    margin-top: 10px !important;
}

center {
    margin-bottom: 10px;
}

html,
body {
    height: 100%;
}
body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #edeef0;
}
.form-signin {
    width: 100%;
    max-width: 660px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="number"] {
    margin-bottom: -1px;
    max-width: 330px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    max-width: 330px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    border-radius: 0;
    max-width: 330px;
}
.sign-connect {
    border-top-left-radius: 0;
    max-width: 330px;
    border-color: transparent;
    border-top-right-radius: 0;
}

.btn-primary {
    background-color: #5181b8 !important;
    border-color: #5181b8 !important;
}

a {
    color: #5181b8 !important;
}

h1 {
    color: black !important;
}
